/* Frame 266 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 48px;

position: absolute;
width: 512px;
height: 593px;
left: 104px;
top: 204px;



/* Frame 261 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 512px;
height: 87px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Login */

width: 123px;
height: 51px;

/* TradeGothic/Bold/40px */
font-family: 'TradeGothic LT Extended';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 51px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Login to access your Golobe account */

width: 294px;
height: 20px;

/* Montserrat/Regular/16px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

/* Blackish Green */
color: #112211;

opacity: 0.75;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 258 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 512px;
height: 458px;


/* Inside auto layout */
.fff{
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


/* Frame 259 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 512px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* text-field

Use a text field when someone needs to enter text into a UI, such as filling in contact or payment information.

🛠 Additional options
Support text - you can toggle supporting text between hide and show.
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 512px;
height: 56px;

border-radius: 4px 4px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 512px;
height: 56px;

/* Neutrals */
background: #FFFFFF;
border: 1px solid #79747E;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 0px 8px 16px;

width: 512px;
height: 56px;

border-radius: 4px 4px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 496px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* input-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 172px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* input-text */

width: 172px;
height: 20px;

/* Montserrat/Regular/16px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #1C1B1F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 4px;

position: absolute;
width: 48px;
height: 17px;
left: -4px;
top: -16px;

/* Neutrals */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* label-text */

width: 40px;
height: 17px;

/* Montserrat/Regular/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #1C1B1F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* supporting-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px 0px;
gap: 10px;

display: none;
width: 210px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* text-field

Use a text field when someone needs to enter text into a UI, such as filling in contact or payment information.

🛠 Additional options
Support text - you can toggle supporting text between hide and show.
*/

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 512px;
height: 56px;

border-radius: 4px 4px 0px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 512px;
height: 56px;

background: #FFFFFF;
border: 1px solid #79747E;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* state-layer */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 0px 4px 16px;

width: 512px;
height: 56px;

border-radius: 4px 4px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 448px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* input-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 118px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* input-text */

width: 118px;
height: 20px;

/* Montserrat/Regular/16px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #1C1B1F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* label-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 4px;

position: absolute;
width: 76px;
height: 17px;
left: -4px;
top: -16px;

/* Neutrals */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* label-text */

width: 68px;
height: 17px;

/* Montserrat/Regular/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Blackish Green */
color: #112211;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* trailing-icon */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;
gap: 10px;

width: 48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* eye-off */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.56%;
right: 12.5%;
top: 12.56%;
bottom: 12.5%;

background: #000000;


/* Vector */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 18.75%;
bottom: 18.75%;

background: #000000;


/* supporting-text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 4px 16px 0px;
gap: 10px;

display: none;
width: 210px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 257 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 252px;

width: 512px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 101 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 140px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Blackish Green */
border: 2px solid #112211;


/* Remember me */

width: 108px;
height: 17px;

/* Montserrat/Medium/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Blackish Green */
color: #112211;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Forgot Password */

width: 120px;
height: 17px;

/* Montserrat/Medium/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: right;

/* Slamon */
color: #FF8682;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 260 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 512px;
height: 81px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 512px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* style_layer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 4px;

width: 512px;
height: 48px;

/* Mint Green */
background: #8DD3BB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

width: 41px;
height: 17px;

/* Montserrat/Semibold/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Blackish Green */
color: #112211;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Don’t have an account? Sign up */

width: 512px;
height: 17px;

/* Montserrat/Medium/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-align: center;

/* Blackish Green */
color: #112211;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 262 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 512px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Rectangle 6 */

width: 194px;
height: 0.5px;

/* Blackish Green */
background: #112211;
opacity: 0.25;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Or login with */

width: 92px;
height: 17px;

/* Montserrat/Regular/14px */
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

/* Blackish Green */
color: #112211;

opacity: 0.5;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 7 */

width: 194px;
height: 0.5px;

/* Blackish Green */
background: #112211;
opacity: 0.25;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 228 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 512px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 224 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 24px;

width: 160px;
height: 56px;

/* Mint Green */
border: 1px solid #8DD3BB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Vector */

width: 24px;
height: 24px;

background: #1877F2;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 225 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 24px;

width: 160px;
height: 56px;

/* Mint Green */
border: 1px solid #8DD3BB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* flat-color-icons:google */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #FFC107;


/* Vector */

position: absolute;
left: 13.14%;
right: 21.63%;
top: 8.33%;
bottom: 59.35%;

background: #FF3D00;


/* Vector */

position: absolute;
left: 12.91%;
right: 22.06%;
top: 58.45%;
bottom: 8.33%;

background: #4CAF50;


/* Vector */

position: absolute;
left: 50%;
right: 8.33%;
top: 41.67%;
bottom: 19.11%;

background: #1976D2;


/* Frame 226 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 24px;

width: 160px;
height: 56px;

/* Mint Green */
border: 1px solid #8DD3BB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* ant-design:apple-filled */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 15.92%;
right: 15.82%;
top: 9.38%;
bottom: 9.37%;

background: #000000;
