/*@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Общее*/
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*Заголовок*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 80px;
    overflow: hidden;
    z-index: 10;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 80%);
    transition: all 0.3s ease-in-out;
}

.header__change-color {
    background: rgba(141, 211, 187, 1);
}

.header__navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar__fast-link,
.navbar__logo {
    color: #FFFFFF;
}

.navbar__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar__logo img {
    height: 40px;
}

.navbar__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link__logreg {
    padding: 15px 20px;
    transition: all 0.3s ease-in-out;
}

.link__logreg a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.link__logreg:hover {
    background: #FFFFFF;
    border-radius: 8px;
}

.link__logreg:hover a {
    color: rgba(17, 34, 17, 1);
}

.link__profile {
    padding: 5px;
}

.link__profile-avatar {
    width: 45px;
    height: 45px;
    padding: 0;
    background: url(../images/avatar2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
}

.link__profile:hover .link__profile-avatar {
    width: 45px;
    height: 45px;
    padding: 10px;
    background: url(../images/avatar.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

/*Основная часть*/
.main {
    background: #FAFBFC;
}

.main-logo {
    position: relative;
    height: 80vh;
}

.main-container {
    width: 100%;
    height: 100%;
    background: url(../images/main-page/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text__container .main-text {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #957dad,
        1px 2px 0px #957dad,
        1px 3px 0px #957dad,
        1px 4px 0px #957dad,
        1px 5px 0px #957dad,
        1px 6px 0px #957dad,
        1px 10px 5px rgba(16, 16, 16, 0.5),
        1px 15px 10px rgba(16, 16, 16, 0.4),
        1px 20px 30px rgba(16, 16, 16, 0.3),
        1px 25px 50px rgba(16, 16, 16, 0.2);
}

.history-travel {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 80%;
    background: #FAFBFC;
    box-shadow: 0 1px 10px rgba(141, 211, 187, 1);
    border-radius: 16px;
    overflow: hidden;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-line__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    margin: 20px 0;
    border-radius: 4px;
    padding: 0 10px;
    width: 70%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid rgba(121, 116, 126, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(28, 27, 31, 1);
    display: flex;
}

.search-reset {
    margin: 0 0 0 10px;
}

.search-reset img {
    width: 44px;
    height: 44px;
    object-fit: cover;
}

.search-btn {
    margin: 0 0 20px 0;
    border-radius: 4px;
    padding: 0 10px;
    width: 40%;
    height: 48px;
    border: none;
    background: rgba(141, 211, 187, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-content {
    padding: 0 6%;
}

.block-news {
    width: 100%;
    border-radius: 16px;
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    background: #eeefef;
    padding: 20px;
}

.block-news__margin {
    margin-top: 150px;
}

.block-news__margin-bottom {
    margin-bottom: 80px;
}

.block-news__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.block-news__text p {
    font-size: 32px;
    font-weight: 600;
}

.block-news__info {
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}

.block-news__height {
    height: 500px;
}

.block-tour__items {
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    width: 390px;
    height: 122px;
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 4px 4px 16px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.block-tour__items:hover {
    top: -10px;
    width: 390px;
    height: 122px;
    border-radius: 16px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 4px 4px 16px 0px rgba(34, 60, 80, 0.2);
}

.block-tour__picture {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin: 16px;
}

.block-tour__info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
}

.block-tour__info-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.block-tour__info-link:hover {
    color: rgba(0, 0, 0, 0.5);
}

/*Страница профиля*/

.header-inner {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 3;
}

h1 {
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 40.42px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
}

h2 {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #112211;
}

.navbar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
}

.navbar-profile img {
    width: 45px;
    height: 45px;
}

.navbar a {
    text-decoration: none;
    color: #112211;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.navbar-favourites {
    cursor: pointer;
    color: #112211;
    margin-left: 50px;
}

.navbar-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-logo img {
    height: 40px;
}

.navbar-profile {
    margin-right: 50px;
}

.navbar-profile img {
    width: 45px;
    height: 45px;
}

.center {
    width: 100%;
    height: 90%;
    margin-top: 100px;
    background-color: #d7e2ee;
    padding-top: 30px;
    position: relative;
}

.middle-rectangle {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    height: 350px;
    background: linear-gradient(45deg,
            #145364,
            #145364 35%,
            #fd703b 35%,
            #fd703b 45%,
            #fe9b3d 45%,
            #fe9b3d 87%,
            #fdca3b 87%,
            #fdca3b 100%);
    border-radius: 20px;
}

.middle-profile_photo {
    position: relative;
    padding: 0 50px 0 50px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.middle-profile_photo img {
    position: absolute;
    top: -40%;
}

.middle-profile_photo>.middle-profile_photo-span-name {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #112211;
}

.middle-profile_photo>.middle-profile_photo-span-email {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #112211;
    opacity: 75%;
}

.navprofile-container {
    width: 100%;
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navprofile-container a {
    text-decoration: none;
    color: #112211;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.navprofile-container-account {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: solid;
    padding-left: 20px;
}

.navprofile-container-history {
    border-right: solid;
    padding-left: 20px;
}

.navprofile-container-payment {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
}

.account-container {
    padding: 50px 50px 0 50px;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    padding-bottom: 30px;

}

.account-container h1 {
    padding-bottom: 20px;
}

.account-container>.account-container-inform {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.account-field {
    padding: 10px 25px;
    color: rgba(17, 34, 17, 1);
}

.account-container-inform span {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

.profile__link-logout {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: rgba(17, 34, 17, 1);
    transition: all 0.3s ease-in-out;
}

.profile__link-logout:hover {
    color: rgba(17, 34, 17, 0.5);
}

/*Нижняя часть*/

.footer {
    background-color: #8DD3BB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 32px 104px 64px 104px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soc-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.footer-contacts__item {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}

.footer-contacts__item-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-contacts__header {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 34, 17, 1);
    padding-bottom: 10px;
}

.footer-contacts__name {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(17, 34, 17, 0.7);
    padding-bottom: 5px;
}

/*Страница авторизации*/

.log-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.log__container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.log__container-for-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.log-name__container {
    width: 100%;
}

.log__container-for-form form {
    width: 100%;
}

.log-name {
    font-weight: 700;
    font-size: 40px;
}

.foto__container {
    width: 50%;
    height: 100vh;
}

.foto {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 10%;
    border-radius: 30px;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.img-slider {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.input-fields {
    margin: 20px 0;
    border-radius: 4px;
    padding: 0 10px;
}

.input-login,
.input-pass {
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid rgba(121, 116, 126, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(28, 27, 31, 1);
    display: flex;
}

.input-submit {
    width: 100%;
    height: 48px;
    border: none;
    background: rgba(141, 211, 187, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.input-hobby {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    height: 100%;
}

.input-hobby__item {
    margin: 0 10px;
}

.login__container {
    position: relative;
}

.upper-text__log-form {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #FFFFFF;
    z-index: 2;
    padding: 2px;
    color: rgba(28, 27, 31, 1);
}

.container-for-link-reg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-reg {
    text-decoration: none;
    color: rgba(255, 134, 130, 1);
    font-weight: 500;
}

/*Нижняя часть*/

.footer {
    background-color: #8DD3BB;
    font-family: 'TradeGothic LT Extended';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 32px 104px 64px 104px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soc-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-logo img {
    height: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.footer-contacts__item {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}

.footer-contacts__item-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-contacts__header {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 34, 17, 1);
    padding-bottom: 10px;
}

.footer-contacts__name {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(17, 34, 17, 0.7);
    padding-bottom: 5px;
}

/*Детальная страница*/

.detail-page__container {
    min-height: 70%;
    margin-top: 100px;
}

.detail-main__container {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #d7e2ee;
    padding: 5% 10% 10% 10%;
    position: relative;
}

.detail-picture {
    width: 30%;
    position: relative;
}

.detail-picture img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    border-radius: 10px 0 0 10px;
}

.detail-info__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.detail-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    line-height: 40.42px;
    color: #000;
    background: #d7e2ee;
}

.detail-info {
    background: #ffffff;
    border-radius: 0 0 16px 16px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-info p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 40.42px;
    color: #000;
}

.detail-address {
    background: #ffffff;
    width: 100%;
    height: 62px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.detail-address p {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    line-height: 40.42px;
    color: #000;
    margin-left: 20px;
    margin-top: 20px;
}

.detail-btn {
    border: none;
    color: #4CAF50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.btn_add-tour {
    padding: 9px 0;
    text-align: center;
    border-bottom-right-radius: 10px;
    width: 100%;
    border: none;

}

@media screen and (max-width: 960px) {
    .header__navbar {
        position: relative;
    }

    .link__mobile-log {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }

    .link__mobile-reg {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    .main-text__container .main-text {
        font-size: 40px;
    }

    .log-form {
        flex-direction: column;
    }

    .log__container {
        width: 100%;
    }

    .foto__container {
        width: 100%;
    }

    .detail-main__container {
        flex-direction: column;
    }

    .detail-picture {
        width: 100%;
    }

    .detail-picture img {
        border-radius: 10px;
    }

    .detail-info__container {
        width: 100%;
    }

    .footer {
        flex-direction: column;
        padding: 32px 10px 64px 10px;
    }

    .footer-nav {
        margin-bottom: 15px;
    }

    .footer-contacts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-contacts__item {
        padding: 15px 40px;
    }
}